.menu{
    background-color: black;
    height: 52px;
    width: 1330px;
    position:fixed;
    margin-top: 0px;
    
}
.tit{
    float: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: 15px;
    font-size: 25px;
    margin-bottom: 0px;
    
}
.thumbnail{
width: 300px;
object-fit: contain;
margin-top: 20px;
cursor: pointer;
}
.sr{
    float:left;
    margin-top: 20px;
    margin-left: 250px;
    font-size: 18px;
    border-radius: 14px;
    border: none;
    padding-bottom:2px ;
}
.srcbut{
    height: 28px;
    width: 140px;
    background-color: rgb(9, 238, 9);
    color: black;
    border-radius: 14px;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 18px;
    padding-bottom: 2px;
    border: none;
    cursor: pointer;
}
.vidtit{
    width: 280px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    vertical-align: baseline;
    margin-bottom: 0px;
    text-align: justify;
  
    
}
.clr{
    width: 50px;
    border: 2px;
    border-radius: 50%;
    vertical-align:  middle;
}
.vidown{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.vidstats{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: gray;
    margin-top: 0px;

}
.fast4{
height: 320px;
width: 1330px;
margin-top: 40px;
}
.div2{
    float:left;
    margin-left: 20px;
}
.div1{
    float: left;
    margin-left: 20px;
}
.div3{
    float: left;
    margin-left: 20px;
}
.div4{
    float: left;
    margin-left: 20px;
}
.div2nd{
 height: 320px;
width: 1330px;   
}
.div5{
float: left;
margin-left: 20px;
}
.div6{
float: left;
margin-left: 20px;
}
.div7{
float: left;
margin-left: 20px;
}
.div8{
float: left;
margin-left: 20px;
}
.div3rd{
height: 320px;
width: 1330px;    
}
.div9{
 float: left;
margin-left: 20px;   
}
.div10{
    float: left;
margin-left: 20px;
}
.div11{
    float: left;
margin-left: 20px;
}
.div12{
    float: left;
margin-left: 20px;
}
.div4th{
height: 320px;
width: 1330px;
}
.div13{float: left;
margin-left: 20px;}
.div14{float: left;
margin-left: 20px;}
.div15{float: left;
margin-left: 20px;}
.div16{float: left;
margin-left: 20px;}
.logo{
    float: left;
    width: 30px;
    margin-top: 17px;
    margin-right: 3px;
    margin-left: 5px;
}